.stockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.addProductButton {
  background: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  min-width: 35px;
}

.addProductButton:active {
  background: var(--light-blue);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modalContent {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.formContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.closeButton {
  background: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  min-width: 35px;
  margin-left: auto;
}
.modalContent input {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--primary-blue);
}

.stockInputContainer {
  display: flex;
  gap: 0.5rem;
}
.stockInputField {
  flex: 1;
}